source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Expecto.FsCheck
nuget FSharp.Core
nuget FSharp.UMX
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.IO.RecyclableMemoryStream
nuget Pipelines.Sockets.Unofficial
nuget TaskBuilder.fs
nuget UTF8Json
nuget Expecto
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
nuget protobuf-net

group Build
  source https://api.nuget.org/v3/index.json
  storage: none

  framework: netstandard2.0

  nuget Fake.Core.Target
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.Cli

  source https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json
  nuget RoslynTools.MSBuild prerelease
