source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.UMX
nuget FSharp.Core
nuget Microsoft.Extensions.Caching.Memory
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Extensions.Http
nuget Microsoft.IO.RecyclableMemoryStream
nuget Microsoft.Bcl.AsyncInterfaces
nuget System.Text.Json
nuget System.IO.Pipelines
nuget Pipelines.Sockets.Unofficial
nuget protobuf-net
nuget protobuf-net.Reflection
nuget NETStandard.Library
nuget zlib.net-mutliplatform
nuget K4os.Compression.LZ4
nuget Snappy.Standard
nuget ZstdNet
nuget AvroSchemaGenerator
nuget Apache.Avro
nuget NSec.Cryptography 20.2.0
nuget PemUtils
nuget System.Threading.Channels

group Tests
  framework: net7.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget FSharp.Core
  nuget Expecto.FsCheck
  nuget Expecto
  nuget Microsoft.NET.Test.Sdk
  nuget YoloDev.Expecto.TestSdk
  nuget Serilog
  nuget Serilog.Extensions.Logging
  nuget Serilog.Sinks.Console
  nuget Serilog.Enrichers.Thread
  nuget Microsoft.Extensions.DependencyInjection
  nuget Apache.Avro
  nuget protobuf-net
  nuget protobuf-net.Reflection

group Examples
  framework: net7.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget Pulsar.Client < 3.0
  nuget Pulsar.Client.Otel
  nuget Microsoft.Extensions.Logging.Console
  nuget OpenTelemetry
  nuget OpenTelemetry.Exporter.Console

group OTel
  framework: netstandard2.0
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget Pulsar.Client < 3.0
  nuget NSec.Cryptography 20.2.0
  nuget Microsoft.Extensions.Logging.Console
  nuget System.Diagnostics.DiagnosticSource
  nuget OpenTelemetry.Api
  nuget System.Threading.Channels
  nuget AvroSchemaGenerator